<% provide(:title, "Parent Information") %>
<h1>Informasi Prestasi Akademik/ Non Akademik</h1>
<div class="row">
  <div col-md-6 col-md-offset-3>
    <%= form_with(model: @achievement, local: true, data: {turbo: false}) do |f| %>
        <%= render "shared/error_messages", object: f.object %>
          <%= f.text_field :nama_prestasi, class: 'form-control', placeholder: 'Nama Prestasi' %>
          <%= f.select :tingkat, options_from_collection_for_select(
            @achievement_tingkat_list, 'tingkat', 'tingkat'
          ), {}, {class: 'form-selection', required: true} %>
          <%= f.date_field :tahun, class: 'form-control', placeholder: 'Tahun' %>
          <%= f.select :kategori, options_from_collection_for_select(
                         @achievement_kategori_list, 'kategori', 'kategori'),{},
                       {class: 'form-selection', required: true}%>
          <%= f.submit "Simpan", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>