<% provide(:title, "Parent Information") %>
<h1>Informasi Data Orang Tua</h1>
<div class="row">
  <div col-md-6 col-md-offset-3>
    <%= form_with(model: @address, local: true, data: {turbo: false}) do |f| %>
        <%= render "shared/error_messages", object: f.object %>
          <%= f.text_field :alamat, class: 'form-control', placeholder: 'Alamat' %>
          <%= f.text_field :kelurahan, class: 'form-control', placeholder: 'Kelurahan' %>
          <%= f.select :provinsi, options_from_collection_for_select(@province, 'provinsi', 'provinsi'),
                       {}, {class: 'form-select', required: true} %>
          <%= f.select :kabupaten, options_from_collection_for_select(@kabupaten, 'kabupaten', 'kabupaten'),
                       {}, {class: 'form-select', required: true} %>
          <%= f.select :kecamatan, options_from_collection_for_select(@kecamatan, 'kecamatan', 'kecamatan'),
                       {}, {class: 'form-select', required: true} %>
          <%= f.number_field :kode_pos, class: 'form-control', placeholder: 'Kode Pos' %>
          <%= f.number_field :no_telepon, class: 'form-control', placeholder: 'No Telepon' %>
          <%= f.submit "Simpan", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>