<% provide(:title, "Personal Information") %>
<h1>Informasi Data Pribadi Siswa</h1>
<div class="row">
  <div col-md-6 col-md-offset-3>
    <%= form_with(model: @personal, local: true, data: {turbo: false}) do |f| %>
        <%= render "shared/error_messages", object: f.object %>
          <%= f.text_field :nama_lengkap, class: 'form-control', placeholder: 'Nama Lengkap' %>
          <%= f.text_field :agama, class: 'form-control', placeholder: 'Agama' %>
          <%= f.text_field :jenis_kelamin, class: 'form-control', placeholder: 'Jenis Kelamin' %>
          <%= f.text_field :tempat_lahir, class: 'form-control', placeholder: 'Tempat Lahir' %>
          <%= f.text_field :tanggal_lahir, class: 'form-control', placeholder: 'Tanggal Lahir' %>
          <%= f.text_field :nik, class: 'form-control', placeholder: 'Nomor Induk Kependudukan' %>
          <%= f.text_field :nisn, class: 'form-control', placeholder: 'Nomor Induk Siswa Nasional' %>
          <%= f.text_field :no_kps, class: 'form-control', placeholder: 'Nomor Kartu Perlindungan Sosial' %>
          <%= f.text_field :domisili, class: 'form-control', placeholder: 'Kabupaten Domisili' %>
          <%= f.submit "Simpan", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>