<%= form_with(model: accreditation_school_list) do |form| %>
  <% if accreditation_school_list.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(accreditation_school_list.errors.count, "error") %> prohibited this accreditation_school_list from being saved:</h2>

      <ul>
        <% accreditation_school_list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :akreditasi, style: "display: block" %>
    <%= form.text_field :akreditasi %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
